.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-block-end: calc(var(--section-padding) / 2);
}
.heroContent { 
  margin-block-end: 50px; 
}
.heroTitle { 
  margin-block: 15px 30px; 
}
.heroText {
  font-size: var(--fontSize-6);
  line-height: 1.45;
  margin-block-end: 40px;
}
.heroForm :global(.btn) { 
  width: 100%; 
}

@media (min-width: 768px) {
  .hero { 
    overflow: hidden; 
  }
  .hero .customContainer {
    display: grid;
    grid-template-columns: 1fr 0.75fr;
    align-items: center;
    gap: 20px;
  }
  .heroContent { 
    margin-block-end: 0; 
  }
  .heroForm :global(.btn) {
    width: auto;
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
  }
  .heroBanner { 
    margin-inline-end: -60px; 
  }
}