.socialLink {
  padding: 11px;
  background-color: hsla(0, 0%, 100%, 0.2);
  font-size: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: var(--transition);
}
.socialLink:is(:hover, :focus) { 
  background-image: var(--gradient); 
  color: var(--white);
}